codepipeline/exampleDeployment/samTemplate.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: Outputs the time
Resources:
   
  InputBucket:
    Type: AWS::S3::Bucket

  OutputBucket:
    Type: AWS::S3::Bucket

  callStepFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: callStepFunction.lambda_handler
      Runtime: python3.6
      CodeUri: ./callStepFunction
      Policies:
      - AmazonS3FullAccess
      - AWSStepFunctionsFullAccess
      Events:
        MyTimeApi:
          Type: S3
          Properties:
            Bucket: !Ref InputBucket
            Events: s3:ObjectCreated:*
      Timeout: 60
      AutoPublishAlias: live

  writeOutput:
    Type: AWS::Serverless::Function
    Properties:
      Handler: writeOutput.lambda_handler
      Runtime: python3.6
      CodeUri: ./writeOutput
      Policies:
      - AmazonS3FullAccess
      Environment:
        Variables:
          OUTPUT_BUCKET: !Ref OutputBucket
      Timeout: 60

  writeDynamo:
    Type: AWS::Serverless::Function
    Properties:
      Handler: writeDynamo.lambda_handler
      Runtime: python3.6
      CodeUri: ./writeDynamo
      Policies:
      - AmazonDynamoDBFullAccess
      Timeout: 60

  updateDynamo:
    Type: AWS::Serverless::Function
    Properties:
      Handler: updateDynamo.lambda_handler
      Runtime: python3.6
      CodeUri: ./updateDynamo
      Policies:
      - AmazonDynamoDBFullAccess
      Timeout: 60

  inconclusiveDataType:
    Type: AWS::Serverless::Function
    Properties:
      Handler: inconclusiveDataType.lambda_handler
      Runtime: python3.6
      CodeUri: ./inconclusiveDataType
      Timeout: 60

  dataType:
    Type: AWS::Serverless::Function
    Properties:
      Handler: dataType.lambda_handler
      Runtime: python3.6
      CodeUri: ./dataType
      Policies: 
      - AmazonS3FullAccess
      Environment:
        Variables:
          S3_ENDPOINT: ''
      Timeout: 60

  comprehendFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: comprehend.lambda_handler
      Runtime: python3.6
      CodeUri: ./comprehend
      Policies:
      - AmazonS3FullAccess
      - ComprehendFullAccess
      Timeout: 60

  rekognitionFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: rekognition.lambda_handler
      Runtime: python3.6
      CodeUri: ./rekognition
      Policies:
      - AmazonS3FullAccess
      - AmazonRekognitionFullAccess
      Timeout: 60
           
  DefaultFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: catchall.lambda_handler
      Runtime: python3.6
      CodeUri: ./catchall
      Timeout: 60

  StepFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: Demo-stepFunction-Role
      AssumeRolePolicyDocument:
        Statement:
        - Action: ['sts:AssumeRole']
          Effect: Allow
          Principal:
                  Service: !Join [ '', [ 'states.', !Ref "AWS::Region", '.amazonaws.com' ] ]
        Version: '2012-10-17'
      Path: /
      Policies:
        - PolicyName: CodeBuildAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
            - Effect: Allow
              Action:
              - lambda:InvokeFunction
              Resource: "*"

  StepFunction:
    Type: "AWS::StepFunctions::StateMachine"
    Properties:
      StateMachineName: Demo-state-machine
      DefinitionString: 
        Fn::Sub:
          - |
            {
              "Comment": "A sample data prcoessing application",
              "StartAt": "IdentifyDataType",
              "States": {
                "IdentifyDataType": {
                  "Type": "Task",
                  "Resource": "${dataType}",
                  "ResultPath": "$",
                  "Next": "writeDynamo"
                },
                "writeDynamo": {
                  "Type": "Task",
                  "Resource": "${writeDynamo}",
                  "ResultPath": "$",
                  "Next": "RouteDataType"
                },
              "RouteDataType": {
              "Type" : "Choice",
              "Choices": [{
                "Variable": "$[0].dataType",
                "StringEquals": "image/jpeg",
                "Next": "runRekognition"
              },{
                "Variable": "$[0].dataType",
                "StringEquals": "text/plain",
                "Next": "runComprehend"
              }],
              "Default": "inconclusiveDataType"
            },
                "runRekognition": {
                  "Type": "Task",
                  "Resource": "${rekognition}",
                  "Next": "writeOutput"
                },    
                "runComprehend": {
                  "Type": "Task",
                  "Resource": "${comprehend}",
                  "Next": "writeOutput"
                },
                "inconclusiveDataType": {
                  "Type": "Task",
                  "Resource": "arn:aws:lambda:eu-west-1:008369042577:function:codedeploy-demo-DefaultFunction-OSFXBKUUW5DB",
                  "End": true
                },
                "writeOutput": {
                  "Type": "Task",
                  "Resource": "${writeOutput}",
                  "Next": "updateDynamo"
                },
                "updateDynamo": {
                  "Type": "Task",
                  "Resource": "${updateDynamo}",
                  "End": true
                }
              }
            }
          - { dataType: !GetAtt dataType.Arn, default: !GetAtt DefaultFunction.Arn, comprehend: !GetAtt comprehendFunction.Arn, rekognition: !GetAtt rekognitionFunction.Arn, writeOutput: !GetAtt writeOutput.Arn, writeDynamo: !GetAtt writeDynamo.Arn, updateDynamo: !GetAtt updateDynamo.Arn, inconclusiveDataType: !GetAtt inconclusiveDataType.Arn }
      RoleArn: !GetAtt StepFunctionRole.Arn

Outputs:
  InputBucket:
    Description: The bucket where objects are uploaded to trigger the data pipepline
    Value: !Ref InputBucket
